*{
    margin: 0%;
    padding: 0%;
}
.logo1{
    width: 50%;
    margin-left: 5%;
    margin-top: 1%;
}
.header{
    display: flex;
    justify-content: space-between;
    /* height: 17vh;
    background-color: #2CA5B8; */
}
.buttons{
    margin-top: 2%;
    margin-right: 7%;
    display: flex;
    justify-content: space-between;
  
    
}
.btn_Espace_Professionnels{
    color: white;
    background-color: #91BC51;
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 2;

}
.btn_Espace_Patients{
    color: white;
    background-color: #1371BB;
    height: 35px;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 2%;
    text-align: center;
    text-decoration: none;
    line-height: 2;
    
}
.btn_Espace_Patients:hover{
    background-color: #1AA9E9;
    color:white ;
}
.btn_Espace_Professionnels:hover{
    background-color: #BFE987;
    color:white ;

}
.EspacePatient{
    background-color: #F6F6F6;
    margin-top: 5em;
    height: 60vh;
    width: 48%;
    margin-left: 32em;
    border-radius: 15px;
}
.patient{
    width: 50%;
    margin-left: 15rem;
}
h5{
    text-align: center;
    color: #2CA5B8;
    font-family: Segoe UI;
    font-weight: bold;
}
.EspacePatientButton{
    background-color: #2CA5B8;
    color: white;
    border-radius: 18px;
    border: none;
    height: 36px;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    text-decoration: none;
    font-family: Segoe UI;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    line-height: 2;
}
.EspacePatientButton:hover{
    background-color:   #058DA2;
    color: white;
}
.Login{
 
    margin-left: 60%;
    margin-top: -34%;
}
.Login_img{
    width: 100%;
}
.inptLogin{
    width: 140%;
    border: none;
    border-radius: 30px;
    height: 40px;
    background-color: #FFFFFF;
    text-align: center;
}
.buttonLogin{
    width: 85%;
    margin-left: 21%;
    border: none;
    border-radius: 30px;
    height: 40px;
    background-color: #20C997;
    color: white;
    font-weight: 700;
}
.buttonSignIn{
    width: 85%;
    margin-left: 21%;
    border: none;
    border-radius: 30px;
    height: 40px;
    color: #20C997;
    font-weight: 700;
}