
.header-page{
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
  
  }
  .logo{
      width: 150px;
      margin-left: 5%;
      margin-top: 1%;
  }
  .header{
      display: flex;
      justify-content: space-between;
  }
  .buttons{
      margin-top: 2%;
      margin-right: 7%;
      display: flex;
      justify-content: space-between;
    
      
  }
  .btn_Espace_Professionnels{
      color: white;
      background-color: #91BC51;
      border-radius: 3px;
      padding: 10px 0;
      width: 100%;
      font-weight: 500;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
  }
  .btn_Espace_Patients{
      color: white;
      background-color: #1371BB;
      border-radius: 5px;
      padding: 10px 0;
      width: 100%;
      font-weight: 500;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
  }
  .btn_Espace_Patients:hover{
      background-color: #1AA9E9;
      color:white ;
  }
  .btn_Espace_Professionnels:hover{
      background-color: #BFE987;
      color:white ;
  
  }
  .h2 {
      color: #1371BB;
  }
  .inpt{
      width: 100%;
      border-radius: 8px;
      border: none;
      background-color: #EFF7FE;
   
  }
  .select{
      color: #7A6C72;
      width: 100%;
      border-radius: 8px;
      border: none;
      background-color: #EFF7FE;
  
  }
  .button1{
      background-color: #BFE987;
      color: white;
      border-radius: 8px;
      border: none;
      font-weight: bold;
      cursor: pointer;
  }
  .button1:hover{
      background-color: #91BC51;
  }
  .health{
      width: 650px;
      margin-top: -15%;
      margin-left: 13%;
  }
  .section1{
      background-color: #2CA5B8;
  
  }
  
  
  .icon{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }
  .icon div{
      color: white;
      text-align: center;
      font-weight: 600;
      
  }
  .section2{
      display: flex;
      flex-wrap: wrap;
      justify-content: center; 
  }
  .Praticiens{
       width: 350px;
       height: 400px;
       margin: 50px;
       background-color: #E5E5E5;
       border-radius: 20px;
       
  }
  .Praticiens span{
      margin-left: 32%;
      color: #0AB0D9;
      font-weight: bold;
      font-size: 20px;
  
  }
  .wiqaytna{
      margin-top: 15%;
  }
  
  .button2{
      background-color: #1AA9E9;
      color: white;
      border-radius: 8px;
      border: none;
      height: 45px;
      width: 200px;
      margin-left: 28%;
      font-weight: bold;
      cursor: pointer;
      
  }
  .button2:hover{
      background-color: #1371BB;
  }
  a {
    color: white;
    text-decoration: none;
}

.social {
    position: fixed;
    top: 167px;
    left: 10px;
}

.social ul {
    padding: 0px;
    transform: translate(-270px,0);
}

.social ul li {
    display: block;
    margin: 5px;
    background: rgb(66 177 196);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1.5s;
}

.social ul li:hover {
    transform: translate(110px,0);
    background: #99ba6c;
    transition: all 1.5s;
}

.social ul li:hover a {
    color: white;
}

.social ul li:hover i{
    color: #99ba6c;
    background: white;
    transform: rotate(360deg);
    transition: all 1.5s;
}

.social ul li i {
    margin-left: 10px;
    color: #2ca5b8;
    background: white;
    padding: 10px;
    border-radius: 98%;
    width: 33px;
    height: 33px;
    transform: rotate(0deg);
    text-align: center;
    font-size: 14px;
}
  /*------------start style footer--------------*/
  a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer {
    background: linear-gradient(105deg,#6e99e6 ,#093c94);
    padding-top: 50px;
    margin-top: 100px;
}
 @media only screen and (max-width:768px) { 
        .single_footer{margin-bottom:30px;}
        }
        .single_footer h4 {
        color: #fff;
        margin-top: 0;
        margin-bottom: 25px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 20px;
 }
 .single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: #fff;
    margin-top: 20px;
}
.single_footer p{color:#fff;}
.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
    
.single_footer ul li a {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 15px;
    text-transform: capitalize;
}
.single_footer ul li a:hover { color: #91bc51; }
.single_footer_address ul li{color:#fff;}
.single_footer_address ul li span {
font-weight: 400;
color: #fff;
line-height: 28px;
} 
.contact_social ul {
list-style: outside none none;
margin: 0;
padding: 0;
}
.subscribe {
    display: block;
    position: relative;
    margin-top: 15px;
    width: 100%;
    }
.subscribe__input {
    background-color: #fff;
    border: medium none;
    border-radius: 5px;
    color: #333;
    display: block;
    font-size: 15px;
    font-weight: 500;
    height: 60px;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 0 150px 0 20px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}
@media only screen and (max-width:768px) { 
.subscribe__input{padding: 0 50px 0 20px;}
}
    
.subscribe__btn {
    background-color: transparent;
    border-radius: 0 25px 25px 0;
    color: #01c7e9;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}
.subscribe__btn i{transition: all 0.3s ease 0s;}
    @media only screen and (max-width:768px) { 
.subscribe__btn{right:0px;}
}
    
.subscribe__btn:hover i{
    color:#91bc51;
}
button {
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.social_profile {margin-top:40px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;}
.social_profile ul li a {
text-align: center;
border: 0px;
text-transform: uppercase;
transition: all 0.3s ease 0s;
margin: 0px 5px;
font-size: 18px;
color: #fff;
border-radius: 30px;
width: 50px;
height: 50px;
line-height: 50px;
display: block;
border: 1px solid rgba(255,255,255,0.2);
}
@media only screen and (max-width:768px) { 
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) { 
.social_profile ul li a{
    width:40px;
    height:40px;
    line-height:40px;
}
}
.social_profile ul li a:hover{
    background:#91bc51;
    border: 1px solid #91bc51;
    color:#fff;
    border:0px;
}
.copyright {
    margin-top: 70px;
    padding-top: 40px;
    color:#fff;
    font-size: 15px;
    border-top: 1px solid rgba(255,255,255,0.4);
    text-align: center;
}
.copyright a{color:#01c7e9;transition: all 0.2s ease 0s;}
.copyright a:hover{color:#91bc51;} 