
.header-page{
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
  
  }
  .logo{
      width: 150px;
      margin-left: 5%;
      margin-top: 1%;
  }
  .header{
      display: flex;
      justify-content: space-between;
  }
  .buttons{
      margin-top: 2%;
      margin-right: 7%;
      display: flex;
      justify-content: space-between;
    
      
  }
  .btn_Espace_Professionnels{
      color: white;
      background-color: #91BC51;
      border-radius: 3px;
      padding: 10px 0;
      width: 100%;
      font-weight: 500;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
  }
  .btn_Espace_Patients{
      color: white;
      background-color: #1371BB;
      border-radius: 5px;
      padding: 10px 0;
      width: 100%;
      font-weight: 500;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
  }
  .btn_Espace_Patients:hover{
      background-color: #1AA9E9;
      color:white ;
  }
  .btn_Espace_Professionnels:hover{
      background-color: #BFE987;
      color:white ;
  
  }
  .h2 {
      color: #1371BB;
  }
  .inpt{
      width: 100%;
      border-radius: 8px;
      border: none;
      background-color: #EFF7FE;
   
  }
  .select{
      color: #7A6C72;
      width: 100%;
      border-radius: 8px;
      border: none;
      background-color: #EFF7FE;
  
  }
  .button1{
      background-color: #BFE987;
      color: white;
      border-radius: 8px;
      border: none;
      font-weight: bold;
      cursor: pointer;
  }
  .button1:hover{
      background-color: #91BC51;
  }
  .health{
      width: 650px;
      margin-top: -15%;
      margin-left: 13%;
  }
  .section1{
      background-color: #2CA5B8;
  
  }
  
  
  .icon{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }
  .icon div{
      color: white;
      text-align: center;
      font-weight: 600;
      
  }
  .section2{
      display: flex;
      flex-wrap: wrap;
      justify-content: center; 
  }
  .Praticiens{
       width: 350px;
       height: 400px;
       margin: 50px;
       background-color: #E5E5E5;
       border-radius: 20px;
       
  }
  .Praticiens span{
      margin-left: 32%;
      color: #0AB0D9;
      font-weight: bold;
      font-size: 20px;
  
  }
  .wiqaytna{
      margin-top: 15%;
  }
  
  .button2{
      background-color: #1AA9E9;
      color: white;
      border-radius: 8px;
      border: none;
      height: 45px;
      width: 200px;
      margin-left: 28%;
      font-weight: bold;
      cursor: pointer;
      
  }
  .button2:hover{
      background-color: #1371BB;
  }
  a {
    color: white;
    text-decoration: none;
}

.social {
    position: fixed;
    top: 167px;
    left: 10px;
}

.social ul {
    padding: 0px;
    transform: translate(-270px,0);
}

.social ul li {
    display: block;
    margin: 5px;
    background: rgb(66 177 196);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1.5s;
}

.social ul li:hover {
    transform: translate(110px,0);
    background: #99ba6c;
    transition: all 1.5s;
}

.social ul li:hover a {
    color: white;
}

.social ul li:hover i{
    color: #99ba6c;
    background: white;
    transform: rotate(360deg);
    transition: all 1.5s;
}

.social ul li i {
    margin-left: 10px;
    color: #2ca5b8;
    background: white;
    padding: 10px;
    border-radius: 98%;
    width: 33px;
    height: 33px;
    transform: rotate(0deg);
    text-align: center;
    font-size: 14px;
}
  /*------------start style footer--------------*/
  a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer {
    background: linear-gradient(105deg,#6e99e6 ,#093c94);
    padding-top: 50px;
    margin-top: 100px;
}
 @media only screen and (max-width:768px) { 
        .single_footer{margin-bottom:30px;}
        }
        .single_footer h4 {
        color: #fff;
        margin-top: 0;
        margin-bottom: 25px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 20px;
 }
 .single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: #fff;
    margin-top: 20px;
}
.single_footer p{color:#fff;}
.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
    
.single_footer ul li a {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 15px;
    text-transform: capitalize;
}
.single_footer ul li a:hover { color: #91bc51; }
.single_footer_address ul li{color:#fff;}
.single_footer_address ul li span {
font-weight: 400;
color: #fff;
line-height: 28px;
} 
.contact_social ul {
list-style: outside none none;
margin: 0;
padding: 0;
}
.subscribe {
    display: block;
    position: relative;
    margin-top: 15px;
    width: 100%;
    }
.subscribe__input {
    background-color: #fff;
    border: medium none;
    border-radius: 5px;
    color: #333;
    display: block;
    font-size: 15px;
    font-weight: 500;
    height: 60px;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 0 150px 0 20px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}
@media only screen and (max-width:768px) { 
.subscribe__input{padding: 0 50px 0 20px;}
}
    
.subscribe__btn {
    background-color: transparent;
    border-radius: 0 25px 25px 0;
    color: #01c7e9;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}
.subscribe__btn i{transition: all 0.3s ease 0s;}
    @media only screen and (max-width:768px) { 
.subscribe__btn{right:0px;}
}
    
.subscribe__btn:hover i{
    color:#91bc51;
}
button {
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.social_profile {margin-top:40px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;}
.social_profile ul li a {
text-align: center;
border: 0px;
text-transform: uppercase;
transition: all 0.3s ease 0s;
margin: 0px 5px;
font-size: 18px;
color: #fff;
border-radius: 30px;
width: 50px;
height: 50px;
line-height: 50px;
display: block;
border: 1px solid rgba(255,255,255,0.2);
}
@media only screen and (max-width:768px) { 
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) { 
.social_profile ul li a{
    width:40px;
    height:40px;
    line-height:40px;
}
}
.social_profile ul li a:hover{
    background:#91bc51;
    border: 1px solid #91bc51;
    color:#fff;
    border:0px;
}
.copyright {
    margin-top: 70px;
    padding-top: 40px;
    color:#fff;
    font-size: 15px;
    border-top: 1px solid rgba(255,255,255,0.4);
    text-align: center;
}
.copyright a{color:#01c7e9;transition: all 0.2s ease 0s;}
.copyright a:hover{color:#91bc51;} 
/* ------------------------------------------------------------------------------------------------------------------------ */
.blog-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 8px 12px 18px rgb(44 165 184);
    padding: 25px;
    border-radius: 25px;
    height: 365px;

    transition: all 0.3s;
  }
  @media screen and (max-width: 992px) {
    .blog-slider {
      max-width: 680px;
      height: 400px;
    }
  }
  @media screen and (max-width: 500px) {
    .cardMedcine{
      width: 65%;
    }
  }

  @media screen and (max-width: 768px) {
    .blog-slider {
      min-height: 500px;
      height: auto;
      margin: 180px auto;
    }
  }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
      height: 350px;
    }
  }
  .blog-slider__item {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 768px) {
    .blog-slider__item {
      flex-direction: column;
    }
  }
  .blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
    transition-delay: 0.3s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
    transition-delay: 0.4s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
    transition-delay: 0.5s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
    transition-delay: 0.6s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
    transition-delay: 0.7s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
    transition-delay: 0.8s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
    transition-delay: 0.9s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
    transition-delay: 1s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
    transition-delay: 1.1s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
    transition-delay: 1.2s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
    transition-delay: 1.3s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
    transition-delay: 1.4s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
    transition-delay: 1.5s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
    transition-delay: 1.6s;
  }
  .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
    transition-delay: 1.7s;
  }
  .blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 230px;
    background-image: linear-gradient(147deg, #f2fff6 0%, #44b1c3);
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
  }
  .blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
   /* background-image: linear-gradient(147deg, #f2fff6 0%, #44b1c3);  */
    border-radius: 20px;
    opacity: 0.8;
  }
  .blog-slider__img img {
    width: 50%;
    margin-top: 10%;
    display: block;
    /* opacity: 0; */
    border-radius: 20px;
    transition: all 0.3s;
  }
  @media screen and (max-width: 768px) {
    .blog-slider__img {
      transform: translateY(-50%);
      width: 90%;
    }
  }
  @media screen and (max-width: 576px) {
    .blog-slider__img {
      width: 95%;
    }
  }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
      height: 270px;
    }
  }
  .blog-slider__content {
    padding-right: 25px;
  }
  @media screen and (max-width: 768px) {
    .blog-slider__content {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }
  }
  @media screen and (max-width: 576px) {
    .blog-slider__content {
      padding: 0;
    }
  }
  .blog-slider__content > * {
    transform: translateY(25px);
    transition: all 0.4s;
  }
  .blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }
  .blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
  }
  .blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
  }
  .blog-slider__button {
    display: inline-flex;
    background-image:  linear-gradient(
      147deg, #bfe887 0%, #2da8ba 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
  }
  @media screen and (max-width: 576px) {
    .blog-slider__button {
      width: 100%;
    }
  }
  /* .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  .blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
  }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
  }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 5px;
    }
  }
  .blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all 0.3s;
  }
  .blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fd3838;
    height: 30px;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
  }
  @media screen and (max-width: 768px) {
    .blog-slider__pagination .swiper-pagination-bullet-active {
      height: 11px;
      width: 30px;
    }
  } */
  /* .daterangepicker-control-section {
    max-width: 246px;
    margin: 30px auto;
    padding-top: 50px;
} */
@import url("https://cdn.syncfusion.com/ej2/material.css");

@media screen and (max-width: 970px) {
  .formSearch {
    width: 100%;
  }
  .health-img{
     display: none;
  }
}
/* formSearch */