*{
    margin: 0%;
    padding: 0%;
}
.logo1{
    width: 50%;
    margin-left: 5%;
    margin-top: 1%;
}
.header{
    display: flex;
    justify-content: space-between;
    /* height: 17vh;
    background-color: #2CA5B8; */
}
.buttons{
    margin-top: 2%;
    margin-right: 7%;
    display: flex;
    justify-content: space-between;
  
    
}
.btn_Espace_Professionnels,.btn_Espace_Patients{
    color: white;
    background-color: #91BC51;
    border-radius: 50px;
    padding: 10px 0;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    height: 100%;
    line-height: 1;
}
.btn_Espace_Patients{
    background-color: #1371BB;
}
.btn_Espace_Patients:hover{
    background-color: #1AA9E9;
    color:white ;
}
.btn_Espace_Professionnels:hover{
    background-color: #BFE987;
    color:white ;

}
.EspaceMedicine{
    background-color: #F6F6F6;
    margin-top: 7em;
    padding-top: 3%;
    height: 57vh;
    /* margin-left: 13em; */
    border-radius: 15px;
}
.Medicine{
    width: 27%;
    margin-left: 29rem;
    margin-top: -3em;
}
h5{
    text-align: center;
    color: #2CA5B8;
    font-family: Segoe UI;
    font-weight: bold;
}
.EspaceProfessionnel{
    color: #2CA5B8;
    border-radius: 18px;
    border: none;
    height: 36px;
    text-align: center;
    font-family: Segoe UI;
    outline: none;
    font-weight: bold;
    margin-top: 2%;
}
.EspaceProfessionnelButton1{
    background-color: #2CA5B8;
    color: white;
    border-radius: 18px;
    border: none;
    height: 36px;
    width: 40%;
    margin-left: 7%;
    font-family: Segoe UI;
    cursor: pointer;
    outline: none;
    font-weight: bold;
  
}
.EspaceProfessionnelButton1:hover{
    background-color:   #058DA2;
}
.EspaceProfessionnelButton:hover{
    background-color:   #058DA2;
}
.btn{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;


}
@media  screen and (max-width: 950px) {
    .patient,#health,.Medicine {
      display: none;
    }
    h5{
        padding-top: 35%;
    }
  }